<div class="price-card-container" [ngClass]="rootClassName">
  <div class="price-card-frame-pricingstyle6">
    <div class="price-card-heading">
      <div class="price-card-h3">
        <span class="price-card-text H2"><span>Free</span></span>
      </div>
      <div class="price-card-description">
        <span class="price-card-text02 Link">
          <span>Rename files and more. All without opening a single tab.</span>
        </span>
      </div>
    </div>
    <div class="price-card-row">
      <div class="price-card-headline">
        <div class="price-card-h1">
          <span class="price-card-text04 H1">{{ text }}</span>
        </div>
        <div class="price-card-h31">
          <span class="price-card-text05 H1">{{ text1 }}</span>
        </div>
      </div>
      <div class="price-card-block">
        <div class="price-card-h6">
          <span class="price-card-text06 H5"><span>Per Month</span></span>
        </div>
      </div>
    </div>
    <button class="price-card-masterbutton">
      <button class="price-card-text-button">
        <span class="price-card-text08 Button"><span>Order Now</span></span>
      </button>
    </button>
    <div class="price-card-list">
      <div class="price-card-pricing-feature">
        <img
          [attr.alt]="Frame37_alt"
          [attr.src]="Frame37_src"
          class="price-card-frame37"
        />
        <span class="price-card-text10 Paragraphe">
          <span>
            <span>
              Unlimited product
              <span [innerHTML]="raw6vgk"></span>
            </span>
            <br />
            <span>updates</span>
          </span>
        </span>
      </div>
      <div class="price-card-pricing-feature1">
        <img
          [attr.alt]="Frame37_alt1"
          [attr.src]="Frame37_src1"
          class="price-card-frame371"
        />
        <span class="price-card-text15 Paragraphe">
          <span>Unlimited Shares</span>
        </span>
      </div>
      <div class="price-card-pricing-feature2">
        <img
          [attr.alt]="Frame37_alt2"
          [attr.src]="Frame37_src2"
          class="price-card-frame372"
        />
        <span class="price-card-text17 Paragraphe">
          <span>
            <span>
              Every feature in
              <span [innerHTML]="raw44s8"></span>
            </span>
            <br />
            <span>Figmaland</span>
          </span>
        </span>
      </div>
      <div class="price-card-pricing-feature3">
        <img
          [attr.alt]="Frame37_alt3"
          [attr.src]="Frame37_src3"
          class="price-card-frame373"
        />
        <span class="price-card-text22 Paragraphe">
          <span>1GB Cloud storage</span>
        </span>
      </div>
      <div class="price-card-pricing-feature4">
        <img
          [attr.alt]="Frame37_alt4"
          [attr.src]="Frame37_src4"
          class="price-card-frame374"
        />
        <span class="price-card-text24 Paragraphe">
          <span>
            <span>
              Email and community
              <span [innerHTML]="raw12i9"></span>
            </span>
            <br />
            <span>support</span>
          </span>
        </span>
      </div>
    </div>
    <div class="price-card-badge">
      <img
        [attr.alt]="Ellipse4_alt"
        [attr.src]="Ellipse4_src"
        class="price-card-ellipse4"
      />
      <span class="price-card-text29 H3"><span>New</span></span>
    </div>
  </div>
</div>
