<section class="contact-contact">
  <div class="contact-frametextcontent">
    <div class="contact-h2">
      <span class="contact-text H2"><span>Contact Us</span></span>
    </div>
    <div class="contact-h4">
      <span class="contact-text02 H4">
        <span>
          <span>
            Most calendars are designed for teams.
            <span [innerHTML]="rawqor0"></span>
          </span>
          <br />
          <span>Slate is designed for freelancers</span>
        </span>
      </span>
    </div>
  </div>
  <div class="contact-social">
    <div class="contact-socialmedia">
      <img
        [attr.alt]="antdesigntwitteroutlined_alt"
        [attr.src]="antdesigntwitteroutlined_src"
        class="contact-antdesigntwitteroutlined"
      />
      <img
        [attr.alt]="antdesignfacebookfilled_alt"
        [attr.src]="antdesignfacebookfilled_src"
        class="contact-antdesignfacebookfilled"
      />
      <img
        [attr.alt]="antdesignlinkedinfilled_alt"
        [attr.src]="antdesignlinkedinfilled_src"
        class="contact-antdesignlinkedinfilled"
      />
    </div>
  </div>
  <div class="contact-framescreencontent">
    <div class="contact-m-a-p">
      <img
        [attr.alt]="Rectangle_alt"
        [attr.src]="Rectangle_src"
        class="contact-rectangle"
      />
    </div>
  </div>
  <div class="contact-frame-items">
    <div class="contact-framecontactstyle2">
      <div class="contact-block">
        <div class="contact-antdesignmailoutlined">
          <img
            [attr.alt]="bxbxmap_alt"
            [attr.src]="bxbxmap_src"
            class="contact-bxbxmap"
          />
        </div>
        <div class="contact-h6">
          <span class="contact-text07 Paragraphe">
            <span>
              <span>
                6386 Spring St undefined
                <span [innerHTML]="rawnfvb"></span>
              </span>
              <br />
              <span>
                Anchorage, Georgia 12473
                <span [innerHTML]="rawvj3u"></span>
              </span>
              <br />
              <span>
                United States
                <span [innerHTML]="rawwnv2"></span>
              </span>
            </span>
          </span>
        </div>
      </div>
      <div class="contact-block1">
        <div class="contact-antdesignmailoutlined1">
          <img
            [attr.alt]="icbaselinephoneandroid_alt"
            [attr.src]="icbaselinephoneandroid_src"
            class="contact-icbaselinephoneandroid"
          />
        </div>
        <div class="contact-h61">
          <span class="contact-text14 Paragraphe">
            <span>(843) 555-0130</span>
          </span>
        </div>
      </div>
      <div class="contact-block2">
        <img
          [attr.alt]="antdesignmailoutlined_alt"
          [attr.src]="antdesignmailoutlined_src"
          class="contact-antdesignmailoutlined2"
        />
        <div class="contact-h62">
          <span class="contact-text16 Paragraphe">
            <span>willie.jennings@exple.com</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-frame-actioncontent">
    <div class="contact-framesignupform">
      <div class="contact-h3">
        <span class="contact-text18 H3"><span>Contact Us</span></span>
      </div>
      <input
        type="text"
        required
        [attr.placeholder]="input_placeholder"
        class="contact-input"
      />
      <input
        type="text"
        required
        [attr.placeholder]="input_placeholder1"
        class="contact-input1"
      />
      <input
        type="text"
        required
        [attr.placeholder]="input_placeholder2"
        class="contact-input2"
      />
      <button class="contact-masterbutton">
        <button class="contact-text-button">
          <span class="contact-text20 Button"><span>Send</span></span>
        </button>
      </button>
    </div>
  </div>
</section>
