:host { 
  display: contents; 
}
.footer-footer {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  max-width: 100%;
  margin-top: 0px;
  max-height: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0.00%,rgba(6, 98, 189, 0.59) 100.00%);
}
.footer-container {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.footer-navlink {
  display: contents;
}
.footer-rectangle4 {
  width: 186px;
  height: 58px;
  align-self: center;
  border-color: transparent;
  text-decoration: none;
}
.footer-nav {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.footer-text {
  cursor: pointer;
  font-size: 1.3em;
  margin-left: 0px;
  text-decoration: none;
}
.footer-navlink1 {
  cursor: pointer;
  font-size: 1.3em;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-text1 {
  cursor: pointer;
  font-size: 1.3em;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-text2 {
  cursor: pointer;
  font-size: 1.3em;
  margin-left: var(--dl-space-space-unit);
}
.footer-text3 {
  cursor: pointer;
  font-size: 1.3em;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-text4 {
  cursor: pointer;
  font-size: 1.3em;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.footer-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-text5 {
  font-size: 1.3em;
}
.footer-icon-group {
  width: 256px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-link {
  display: contents;
}
.footer-icon {
  fill: #076096;
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-link1 {
  display: contents;
}
.footer-icon2 {
  fill: #ec0909;
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-link2 {
  display: contents;
}
.footer-icon4 {
  fill: #061475;
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  text-decoration: none;
}



@media(max-width: 1200px) {
  .footer-footer {
    max-width: auto;
  }
}
@media(max-width: 991px) {
  .footer-nav {
    flex: 1;
    flex-wrap: wrap;
    align-self: stretch;
    align-items: stretch;
    justify-content: center;
  }
  .footer-icon {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .footer-icon2 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .footer-icon4 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
}
@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-container1 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-text5 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
  }
  .footer-rectangle4 {
    position: static;
  }
  .footer-nav {
    align-self: stretch;
    justify-content: center;
  }
  .footer-text {
    text-align: center;
    line-height: 1;
  }
  .footer-navlink1 {
    text-align: center;
    line-height: 1;
  }
  .footer-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-container1 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-text5 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-icon {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
}
