<section class="home-home">
  <div class="home-desktop-hero-light1">
    <div class="home-frametextcontent">
      <div class="home-h1">
        <span class="home-text">{{ text }}</span>
      </div>
      <div class="home-h4">
        <span class="home-text1 H4">{{ text1 }}</span>
      </div>
    </div>
    <button class="home-framebigbutton">
      <button class="home-masterbutton">
        <button class="home-text-button">
          <span class="home-text2 H3"><span>Buy now</span></span>
        </button>
      </button>
    </button>
  </div>
</section>
