:host { 
  display: contents; 
}
.home-home {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  margin-top: 160px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 160px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-desktop-hero-light1 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  padding-top: 250px;
  border-color: transparent;
  padding-left: 120px 0;
  padding-right: 120px 0;
  flex-direction: column;
  padding-bottom: 120px 0;
  background-color: rgba(249, 249, 249, 1);
}
.home-frametextcontent {
  width: 951px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 40px;
  flex-direction: column;
}
.home-h1 {
  display: flex;
  padding: 20px;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 7px;
}
.home-text {
  color: var(--dl-color-default-text);
  width: 827px;
  height: auto;
  font-size: 55px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  margin-right: 0;
  margin-bottom: 0;
}
.home-h4 {
  display: flex;
  padding: 20px;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.home-text1 {
  color: var(--dl-color-default-secondtext);
  width: 708px;
  height: auto;
  align-self: auto;
  text-align: center;
  line-height: 38px;
  margin-right: 0;
  margin-bottom: 0;
}
.home-framebigbutton {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.home-masterbutton {
  width: 236px;
  display: flex;
  padding: 16px 0;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 10px;
  flex-direction: column;
  background-color: var(--dl-color-default-primary);
}
.home-text-button {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.home-text2 {
  color: var(--dl-color-default-lighttext);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 36px;
  margin-right: 0;
  margin-bottom: 0;
}
@media(max-width: 1600px) {
  .home-home {
    width: 100%;
  }
  .home-text {
    color: var(--dl-color-default-text);
    font-size: 55px;
    font-style: normal;
  }
}
@media(max-width: 1200px) {
  .home-home {
    width: 100%;
    margin-top: 160px;
    margin-bottom: 160px;
  }
  .home-desktop-hero-light1 {
    width: auto;
    align-self: center;
  }
}
@media(max-width: 991px) {
  .home-home {
    width: 100%;
    margin-left: 0px;
  }
  .home-text {
    color: var(--dl-color-default-text);
    font-size: 45px;
    font-style: normal;
  }
}
@media(max-width: 767px) {
  .home-home {
    width: 100%;
  }
  .home-desktop-hero-light1 {
    width: 100%;
    align-items: center;
  }
  .home-frametextcontent {
    flex: 1;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
  }
  .home-h1 {
    flex: 1;
    width: 100%;
    align-self: flex-start;
    justify-content: center;
  }
  .home-text {
    width: 100%;
    text-align: center;
  }
}
@media(max-width: 479px) {
  .home-home {
    width: 100%;
    height: auto;
    margin-top: 160px;
    margin-bottom: 160px;
  }
  .home-desktop-hero-light1 {
    width: 100%;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .home-frametextcontent {
    width: 100%;
    flex-wrap: wrap;
  }
  .home-h1 {
    height: 154px;
    align-self: center;
    align-items: stretch;
    justify-content: space-between;
  }
  .home-text {
    color: var(--dl-color-default-text);
    width: 100%;
    height: auto;
    font-size: 34px;
    font-style: normal;
    font-family: Inter;
    line-height: 1.15;
  }
  .home-h4 {
    width: 50%;
    height: 162px;
  }
}
