<section class="pricing-pricing">
  <div class="pricing-frametextcontent">
    <div class="pricing-h2">
      <span class="pricing-text H2"><span>Pricing</span></span>
    </div>
    <div class="pricing-h4">
      <span class="pricing-text02 H4">
        <span>
          <span>
            Most calendars are designed for teams.
            <span [innerHTML]="raw9qu6"></span>
          </span>
          <br />
          <span>Slate is designed for freelancers</span>
        </span>
      </span>
    </div>
  </div>
  <div class="pricing-filter-switch">
    <button class="pricing-filterbuttoninactive">
      <button class="pricing-text-button">
        <span class="pricing-text07 Button"><span>Monthly</span></span>
      </button>
    </button>
    <button class="pricing-filterbuttonactive">
      <button class="pricing-text-button1">
        <span class="pricing-text09 Button">
          <span>Yearly ( save 20%)</span>
        </span>
      </button>
    </button>
  </div>
  <div class="pricing-row">
    <price-card rootClassName="price-card-root-class-name"></price-card>
    <price-card rootClassName="price-card-root-class-name1"></price-card>
    <price-card rootClassName="price-card-root-class-name2"></price-card>
  </div>
</section>
