<div class="product1-container" [ngClass]="rootClassName">
  <div class="product1-desktop-f-e-a-t-u-r-elight14">
    <div class="product1-content">
      <div class="product1-frametextcontent">
        <div class="product1-h3">
          <span class="product1-text">PRODUCT</span>
        </div>
        <div class="product1-h2">
          <span class="product1-text01 H2"><span>AMAZING FEATURES</span></span>
        </div>
      </div>
      <div class="product1-container1">
        <div class="product1-framemobile">
          <img
            [attr.alt]="image_alt1"
            [attr.src]="image_src1"
            class="product1-image"
          />
        </div>
        <div class="product1-container2">
          <div class="product1-row">
            <div class="product1-framefeaturestyle1">
              <div class="product1-h-e-a-d-l-i-n-e">
                <div class="product1-n-u-m-b">
                  <div class="product1-frame1">
                    <span class="product1-text03 H3">1</span>
                  </div>
                </div>
                <div class="product1-h31">
                  <span class="product1-text04 H3">
                    <span>
                      FEATURE ONE
                      <span [innerHTML]="rawcn3u"></span>
                    </span>
                  </span>
                </div>
              </div>
              <div class="product1-text-paragraphe">
                <span class="product1-text06 Paragraphe">
                  <span>
                    Slate helps you see how many more days you need to work to
                    reach your financial goal.
                    <span [innerHTML]="raweme9"></span>
                  </span>
                </span>
              </div>
            </div>
            <div class="product1-framefeaturestyle11">
              <div class="product1-h-e-a-d-l-i-n-e1">
                <div class="product1-n-u-m-b1">
                  <div class="product1-frame2">
                    <span class="product1-text08 H3">2</span>
                  </div>
                </div>
                <div class="product1-h32">
                  <span class="product1-text09 H3">
                    <span>
                      FEATURE TWO
                      <span [innerHTML]="raw5e67"></span>
                    </span>
                  </span>
                </div>
              </div>
              <div class="product1-text-paragraphe1">
                <span class="product1-text11 Paragraphe">
                  <span>
                    Slate helps you see how many more days you need to work to
                    reach your financial goal.
                    <span [innerHTML]="rawbbeg"></span>
                  </span>
                </span>
              </div>
            </div>
            <div class="product1-framefeaturestyle12">
              <div class="product1-h-e-a-d-l-i-n-e2">
                <div class="product1-n-u-m-b2">
                  <div class="product1-frame3">
                    <span class="product1-text13 H3">3</span>
                  </div>
                </div>
                <div class="product1-h33">
                  <span class="product1-text14 H3">
                    <span>
                      FEATURE THREE
                      <span [innerHTML]="rawspf1"></span>
                    </span>
                  </span>
                </div>
              </div>
              <div class="product1-text-paragraphe2">
                <span class="product1-text16 Paragraphe">
                  <span>
                    Slate helps you see how many more days you need to work to
                    reach your financial goal.
                    <span [innerHTML]="rawcfxc"></span>
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
