/* You can add global styles to this file, and also import other style files */
:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #d9d9d9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #a22020;
  --dl-color-danger-500: #bf2626;
  --dl-color-danger-700: #e14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #4196ce;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003eb3;
  --dl-color-primary-300: #0074f0;
  --dl-color-primary-500: #14a9ff;
  --dl-color-primary-700: #85dcff;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32a94c;
  --dl-color-success-700: #4cc366;
  --dl-size-size-xxlarge: 288px;
  --dl-color-default-text: rgba(37, 43, 66, 1);
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-color-default-primary: rgba(32, 144, 248, 1);
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-color-default-disabled: rgba(142, 194, 242, 1);
  --dl-color-default-primary1: rgba(32, 144, 248, 1);
  --dl-color-default-primary2: rgba(32, 144, 248, 1);
  --dl-color-default-primary3: rgba(32, 144, 248, 1);
  --dl-color-default-primary4: rgba(32, 144, 248, 1);
  --dl-color-default-primary5: rgba(32, 144, 248, 1);
  --dl-color-default-primary6: rgba(32, 144, 248, 1);
  --dl-space-space-threeunits: 48px;
  --dl-color-default-lightgray: rgba(189, 189, 189, 1);
  --dl-color-default-lighttext: rgba(255, 255, 255, 1);
  --dl-color-default-lightgray1: rgba(189, 189, 189, 1);
  --dl-color-default-lighttext1: rgba(255, 255, 255, 1);
  --dl-color-default-lighttext2: rgba(255, 255, 255, 1);
  --dl-color-default-lighttext3: rgba(255, 255, 255, 1);
  --dl-color-default-lighttext4: rgba(255, 255, 255, 1);
  --dl-color-default-lighttext5: rgba(255, 255, 255, 1);
  --dl-color-default-lighttext6: rgba(255, 255, 255, 1);
  --dl-color-default-secondtext: rgba(114, 114, 114, 1);
  --dl-space-space-oneandhalfunits: 24px;
  --dl-color-default-darkbackground: rgba(37, 43, 66, 1);
  --dl-color-default-darkbackground1: rgba(37, 43, 66, 1);
  --dl-color-default-lightbackground: rgba(255, 255, 255, 1);
  --dl-color-default-lightbackground1: rgba(255, 255, 255, 1);
  --dl-color-default-lightbackground2: rgba(255, 255, 255, 1);
  --dl-color-default-lightbackground3: rgba(255, 255, 255, 1);
  --dl-color-default-backgroundgradient: rgba(0, 243, 184, 1);
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.2rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: translateX(0%) !important;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.H5 {
  font-size: 16px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 700px;
  font-stretch: normal;
}
.H4 {
  font-size: 24px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500px;
  font-stretch: normal;
}
.Link {
  font-size: 10px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 600px;
  font-stretch: normal;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.H3 {
  font-size: 24px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 700px;
  font-stretch: normal;
}
.Button {
  font-size: 16px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 700px;
  font-stretch: normal;
}
.Paragraphe {
  font-size: 12px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500px;
  font-stretch: normal;
}
.H1 {
  font-size: 58px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 800px;
  font-stretch: normal;
}
.H2 {
  font-size: 40px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 700px;
  font-stretch: normal;
}
